@use '../../styles/variables' as *

.footer
  background-color: $color-footer-bg
  padding: $spacing-lg 0

.inner
  display: flex
  align-items: center
  justify-content: center

.text
  font-size: $font-size-sm
  color: $color-footer-text
  text-align: center
